<!DOCTYPE html>
<html>
<head>
    <!-- 
    This Layout Template has ViewBag where it appends and binds the parameters from the View or Controller. 
    Magic? No, just a convenient way!
    -->
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
</head>
<body>
	@RenderBody()
</body>
</html>
